
@import url(https://fonts.googleapis.com/css?family=Inter);
* {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

button {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline-style: solid;
  outline-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121722;
  background-image: url(/material/images/Fondo012023.png);
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.button {
  position: relative;
  border: 1px solid currentColor;
  border-radius: 12px;
  padding: 16px;
  transition-property: border-color;
  transition-duration: 0.2s;
  cursor: pointer;
  bottom: -10px;
  margin-left: 19px;
  left: -13px;
}
.button:hover, .button:focus-visible {
  border-color: transparent;
}
.button:hover::before, .button:focus-visible::before {
  opacity: 1;
}
.button:active::after {
  opacity: 1;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition-property: opacity;
}

.button::before {
  box-shadow: 0 0 2px #fff, 0 -2px 6px #f16427, 2px 0 6px #36ff00, -2px 0 6px #e22d91, 0 2px 6px #3f2aff;
  transition-duration: 0.2s;
}

.button::after {
  box-shadow: 0 0 8px 4px #fff, 0 -4px 12px 4px #f16427, 0 4px 12px 4px #3f2aff, -4px 0 12px 4px #e22d91, 4px 0 12px 4px #aeff26;
  transition-duration: 0.4s;
}
.sie{
    position: absolute;
  
  border-radius: 12px;
  padding: 38px;
  top: 80px;
}

.sie h3{
    margin-left: -13px;
}

.siboton{
  margin-top: 270px;
}